/* 公共样式*/
.margin-lf-20 {
  margin-left: 20px;
}
button {
  outline: none;
  border: 0;
  margin: 0;
  padding: 0;
}
/* 时间提示公共样式 */
/* 行文字溢出以省略号替代*/
/* 公共容器1200px */
.content-wrapper {
  width: 1200px;
  margin: 0 auto;
  font-size: 0;
}
.notice-list {
  margin-top: 20px;
  font-size: 0;
}
.notice-item {
  display: inline-block;
  width: 285px;
  font-size: 0;
  background-color: #fff;
  margin-bottom: 20px;
  vertical-align: top;
}
.notice-item:hover {
  position: relative;
  height: 100%;
  top: -15px;
  box-shadow: 0 6px 12px #d4d4d4;
  cursor: pointer;
  transition: all 0.2s ease 0.1s;
  transform: scale(1.05) translateZ(0);
}
.notice-Info {
  padding: 25px 25px 0 20px;
  color: #333;
  height: 145px;
  background-color: #fff;
}
.notice-Info .project-name {
  font-size: 16px;
  color: #333;
  width: 245px;
  height: 45px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}
.notice-Info .company-name,
.notice-Info .add-time {
  font-size: 12px;
  color: #999;
  margin-top: 10px;
  height: 32px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}
.notice-countdown {
  height: 130px;
  background-color: #f8f8f8;
  position: relative;
}
.notice-countdown .time-tips {
  display: block;
  padding-left: 20px;
  top: 20px;
  line-height: 60px;
}
.notice-countdown .display-time {
  margin: 0;
  top: 60px;
  font-size: 16px;
  color: #333;
  padding: 0 20px;
}
.notice-countdown .pretend-file {
  position: absolute;
  margin: 0;
  top: 60px;
  color: #4A90E2;
  padding: 0 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
}
.notice-countdown .time-start {
  background: #71d1a4;
  display: inline-block;
  position: absolute;
  color: #fff;
  right: 0;
  height: 28px;
  top: 0;
  width: 65px;
  text-align: center;
  line-height: 28px;
  font-size: 12px;
  border-radius: 0 0 0 15px;
}
.notice-countdown .time-start:hover {
  background: #66BC94;
}
.notice-countdown .time-doing {
  background: #f4a528;
  display: inline-block;
  position: absolute;
  color: #fff;
  right: 0;
  height: 28px;
  top: 0;
  width: 65px;
  text-align: center;
  line-height: 28px;
  font-size: 12px;
  border-radius: 0 0 0 15px;
}
.notice-countdown .time-doing:hover {
  background: #DC9524;
}
.notice-countdown .time-end {
  background: #989898;
  display: inline-block;
  position: absolute;
  color: #fff;
  right: 0;
  height: 28px;
  top: 0;
  width: 65px;
  text-align: center;
  line-height: 28px;
  font-size: 12px;
  border-radius: 0 0 0 15px;
}
.notice-countdown .time-end:hover {
  background: #898989;
}
/* loading*/
.load-wrapper {
  position: relative;
  width: 1200px;
  font-size: 0;
  margin: 20px auto 0;
}
.loading-mask {
  position: relative;
  text-align: center;
  line-height: 800px;
  width: 100%;
  height: 100%;
  background: #00000012;
  top: 0;
  z-index: 9999;
}
.loading-data {
  text-align: center;
  padding: 200px 0;
  margin: 0 auto;
  background: #fff;
}
/*# sourceMappingURL=notice_list.css.map */